python-dotenv
pika
flask
mysql-connector-python
Flask-SocketIO
eventlet
google-auth-httplib2
google-api-python-client
google-auth==1.27.0
google-auth-oauthlib==0.4.2
oauthlib==3.1.0
requests-oauthlib==1.3.0